aiofiles==0.7.0
aiohttp==3.7.4.post0
async-lru==1.0.2
async-timeout==3.0.1
attrify==3.0
attrs==21.2.0
chardet==4.0.0
Faker==8.11.0
future==0.18.2
humanize==3.11.0
idna==3.2
joblib==1.0.1
kantex==0.2.0
multidict==5.1.0
numpy==1.21.2
pyaes==1.6.1
Pyrogram==1.2.9
PySocks==1.7.1
python-dateutil==2.8.2
pyzxing==1.0.1
six==1.16.0
text-unidecode==1.3
TgCrypto==1.2.2
typing-extensions==3.10.0.0
ujson==4.1.0
yarl==1.6.3
gpytranslate==1.2.0
